VX.Service/VX.Service.csproj.DotSettings.user
VX.Service/Web.Release.Test.config
VX.Service/bin/
VX.Service/obj/
VX.Domain/bin/
VX.Domain/obj/
VX.Model/bin/
VX.Model/obj/
VX.Tests/bin/
VX.Tests/obj/
VX.IntegrationTests/bin/
VX.IntegrationTests/obj/
_ReSharper.VX/
_ReSharper.AppHarbor/
VX.suo
AppHarbor.suo
VX.sln.DotSettings.user
AppHarbor.sln.DotSettings.user