<?xml version="1.0"?>
<configuration>
  <connectionStrings>
      <add name="VXEntities" connectionString="metadata=res://*/VocabModel.csdl|res://*/VocabModel.ssdl|res://*/VocabModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=VX;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP"
                 crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="VX.Service.VocabExtService">
        <endpoint address="soapService" binding="basicHttpBinding" contract="VX.Service.IVocabExtService" behaviorConfiguration="WpfClientBehavior" />
        <endpoint address="restService" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" contract="VX.Service.IVocabExtService" behaviorConfiguration="WebClientBehavior" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="ServiceBehavior">          
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebClientBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="WpfClientBehavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="DefaultTasksCount" value="15"/>
  </appSettings>
</configuration>
