<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>    
    <add name="VXDependency"
      connectionString="Server=;Database=;User ID=;Password=;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <caching>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="db666263f5e8e145dd845fa05400b964c2" connectionStringName="VXDependency" pollTime="1000" xdt:Transform="Replace" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <compilation xdt:Transform="RemoveAttributes(debug)" />    
  </system.web>

</configuration>